@charset "utf-8";



h1{
font-size: 24px;}
ul#main-nav  {display:flex;  /* doesn't like inline block */
    list-style-type: none;  /* get rid of ul dots */
      width: 100%;  /* */
       justify-content: center;  /* use this to center with display flex*/
        padding: 0}  /* */
ul#main-nav li { 
    padding: 0 10px} /*0 top and bottom, 10 rt and lft */
.header {text-align:center} /* */

h5{
    opacity: 0;
    transition: opcacity .3s;
    color: purple
}

h5:hover{
    opacity: 0.5;
}


 .logoImage{
    width: 300px;
background-color: green;

    display: block;
    margin: 0 auto; /* center - when used with block */
 }
 .logoBckGrnd{
    background-color:black
 }
   
.home{
    background-color: rgb(196, 243, 196);
 }

 .register {
    background-color: rgb(215, 85, 9)
 }


#centerForm{
    display: flex;
    justify-content: center;
    width: 100%;
}
.form{
  display:flex;  /* doesn't like inline block */
    flex-direction:column;
      max-width: 600px;  
      gap: 12px;
       }  

       .form label{
        font: verdana;
        display: flex;
       
       
        gap: 4px;
       }

.labelBtnGroup{

    display:flex;
    align-items: center;
    gap: 12px;
}


 

 .band * {
    background-color: rgb(58, 3, 58);
 color: white;
 }